<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Feedback Form</title>

</head>

<body>

<h1> Body Mass Index Calculator</h1>

<h4> Results:</h4> <br>

<p> Your height is {{ height }}m </p>  <!-- prints height value from user -->
<p> Your weight is {{ weight }}kg </p>  <!-- prints weight value from user -->
<p> Your body mass index is {{ BMI }} </p> <!-- prints calculated BMI data based on user input -->

<br>

<p><a href="/">Back to home page</a></p>  <!-- hyperlink back to homepage -->

</body>
</html>
