
<h1> Body Mass Index Calculator</h1>

<h4> Enter your data:</h4>


<form action="/bmi" method="POST">  <!-- upon click submit button post req sent to /bmi page for viewing -->
<label class="form-label" for="applicant-height"> Enter height in meters: </label>
<input name="height" class="form-control" required id="applicant-height">

<br>

<label class="form-label" for="applicant-weight"> Enter weight in kilograms: </label>
<input name="weight" class="form-control" required id="applicant-weight">

<br>

<input class="submit" type="submit">

</form>